doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Captcha
    meta(name='viewport', content='width=device-width,initial-scale=1')
    // <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> 
    // <script src="main.js"></script> 
    script(src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.4.js")
    style(type='text/css').
      .container {width:330px; height:900px;padding:10px;border:1px solid #000000;float:left;}
      .container_buffer {height:200px; padding:10px; border:1px solid #000000;}
      .dragableimg {draggable:true; height:90px; width:160px;}
      .dragedimg {draggable:true; height:180px; width:320px;}
    script.
      function allowDrop(ev) {
          ev.preventDefault()
      }
      function drag(ev) {
          ev.dataTransfer.setData("Text", ev.target.id)
      }
      function drop(ev) {
          ev.preventDefault()
          var container = ev.target
          while (container.tagName != "DIV") { 
              container = container.parentNode
          }
          if (container.childNodes.length == 5)  { return }
          let id = ev.dataTransfer.getData("Text")
          if (container.id == "all_image") {
              $("#"+id).removeClass("dragedimg")
              $("#"+id).addClass("dragableimg")
          } else {
              $("#"+id).removeClass("dragableimg")
              $("#"+id).addClass("dragedimg")
          }
          container.appendChild(document.getElementById(id))
      }
  body
    #all_image.container_buffer(ondrop='drop(event)', ondragover='allowDrop(event)')
      img#img0.dragableimg(src=img0 ondragstart='drag(event)')
      img#img1.dragableimg(src=img1 ondragstart='drag(event)')
      img#img2.dragableimg(src=img2 ondragstart='drag(event)')
      img#img3.dragableimg(src=img3 ondragstart='drag(event)')
      img#img4.dragableimg(src=img4 ondragstart='drag(event)')
      img#img5.dragableimg(src=img5 ondragstart='drag(event)')
      img#img6.dragableimg(src=img6 ondragstart='drag(event)')
      img#img7.dragableimg(src=img7 ondragstart='drag(event)')
      img#img8.dragableimg(src=img8 ondragstart='drag(event)')
      img#img9.dragableimg(src=img9 ondragstart='drag(event)')
      img#img10.dragableimg(src=img10 ondragstart='drag(event)')
      img#img11.dragableimg(src=img11 ondragstart='drag(event)')
      img#img12.dragableimg(src=img12 ondragstart='drag(event)')
      img#img13.dragableimg(src=img13 ondragstart='drag(event)')
      img#img14.dragableimg(src=img14 ondragstart='drag(event)')
     
    #Group1.container(ondrop='drop(event)', ondragover='allowDrop(event)')
    #Group2.container(ondrop='drop(event)', ondragover='allowDrop(event)')
    #Group3.container(ondrop='drop(event)', ondragover='allowDrop(event)')
    button#submitbutton(type='button') 验证

  script.
    var allimage = $("#all_image").children()
    $("#all_image").empty()
    for (let i = 15; i > 0; i--) {
        let index = Math.floor(Math.random() * i)
        $("#all_image").append(allimage[index])
        allimage.splice(index,1)
    }
    $("button#submitbutton").click((ev) => {
        if ($("#all_image").children().length !== 0) {
            alert("还有图片未完成分组")
            return
        }
        let data = {}
        let groups = ["Group1", "Group2", "Group3"]
        for (let i = 0; i < groups.length; i++) {
            let imgs = $("#"+groups[i]).children()
            for (let j = 0; j < imgs.length; j++) {
                data[imgs[j].getAttribute("id")] = [groups[i], imgs[j].getAttribute("src")]
            }
        }
        $.post("/result", data, (data, status) => {
            $("#all_image").empty()
            if (data['s']) {
                $("#all_image").append($("<p></p>").text("验证成功"))
            } else {
                $("#all_image").append($("<p></p>").text("验证失败"))
            }
            $("#all_image").append($("<button></button>").attr("id", "recap"))
            $("#all_image").append($("<button></button>").attr("id", "showstatis"))
            $("#recap").text("重新验证")
            $("#showstatis").text("显示统计")
            $("#recap").click((ev) => {
                var form = document.createElement("form")
                form.setAttribute("method", "get")
                form.setAttribute("action", "/")
                $("body").append(form)
                form.submit()
            })
            $("#showstatis").click((ev) => {
                alert("还没做")
            })
        })
    })
